* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  position: relative;
  background: #bfcfed;
  font-family: "Roboto";
  font-size: medium;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #cfdbf2;
  color: black;
  padding: 1em 0;
}

.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: auto;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav li a:hover {
  background-color: #afc3e9;
  transition: all ease-in-out;
}
.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: #bfcfed;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-bar li {
  width: 100%;
}
.side-bar a {
  width: 100%;
}
.side-bar a:hover {
  background-color: #afc3e9;
}
.menu-button {
  display: none;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-me {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.contacts span {
  display: inline-block;
}
#message-form {
  display: none;
}

#send-message {
  padding: 14px 22px;
  background-color: #234480;
  color: white;
  border-radius: 12px;
  border: none;
}
#send-message:hover {
  background-color: #afc3e9;
  color: black;
  font-weight: bold;
}
form {
  background-color: #cfdbf2;
  padding: 13px;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
}

label {
  display: inline;
  margin-bottom: 8px;
  font-weight: 0.3em;
}

input[type="text"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afc3e9;
}

textarea {
  height: 70px;
}

input[type="submit"] {
  background-color: #234480;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #afc3e9;
  color: black;
}

.address {
  margin-right: 12px;
}
.address-logo {
  display: flex;
  justify-content: center;
  gap: 9em;
  margin: 0.3em;
}
.address-logo img {
  max-width: 50px;
}
.footer {
  background-color: #afc3e9;
  color: black;
  padding: 1em 0;
  opacity: 0.7;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.footer .logo img {
  margin-left: 1em;
}
.footer-2 p {
  font-size: 17px;
}

@media (max-width: 64em) {
  /* 1024px */
  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .home {
    flex-direction: column;
    align-items: center;
  }
  .download-button {
    width: 80%;
    font-size: 18px;
  }
}

@media (max-width: 48em) {
  /* 768px */

  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .home {
    flex-direction: column;
    align-items: center;
  }
  .download-button {
    width: 80%;
    font-size: 18px;
  }
}
@media (max-width: 30em) {
  /* 480px */

  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .home {
    flex-direction: column;
    align-items: center;
  }
  .download-button {
    width: 100%;
    font-size: 16px;
  }
}
