* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  position: relative;
  background: #bfcfed;
  font-family: "Roboto";
  font-size: medium;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #cfdbf2;
  color: black;
  padding: 1em 0;
}

.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: auto;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav li a:hover {
  background-color: #afc3e9;
  transition: all ease-in-out;
}
li.active a {
  color: black;
  background-color: #bfcfed;
  border-radius: 5px;
}
.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: #bfcfed;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-bar li {
  width: 100%;
}
.side-bar a {
  width: 100%;
}
.side-bar a:hover {
  background-color: #afc3e9;
}
.menu-button {
  display: none;
}
main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #2c5282;
}

section {
  margin-bottom: 40px;
}
.skill {
  width: 60%;
  height: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-container .text-content {
  flex: 1;
  margin-right: 20px; /* Space between text and table */
}
#skills {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 40px;
}

table {
  width: 450px;
  border-collapse: collapse;
  border: #101925;
  background-color: #aec2e4;
}

table th,
table td {
  border: 1px solid #cccccc99;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #628ac6;
  color: white;
}

p {
  margin-bottom: 15px;
}
#learning-journey {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 40px;
}
.images {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}
.images img {
  width: 200px;
}
.footer {
  background-color: #afc3e9;
  color: black;
  padding: 1em 0;
  opacity: 0.7;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.footer .logo img {
  margin-left: 1em;
}

@media (max-width: 64em) {
  /* 1024px */
  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .skill {
    width: 100%;
  }
  #skills {
    display: block;
    margin: 18px;
  }
  table {
    width: 320px;
    text-align: center;
  }
  #learning-journey {
    display: block;
    margin: 18px;
  }
}

@media (max-width: 48em) {
  /* 768px */

  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .footer-2 {
    flex-direction: column;
    align-items: center;
  }
  #skills {
    display: block;
    margin: 14px;
  }
  table {
    width: 300px;
    text-align: center;
  }
  #learning-journey {
    display: block;
    margin: 18px;
  }
  .footer .logo img {
    margin-left: 1em;
    text-align: right;
  }
}

@media (max-width: 30em) {
  /* 480px */

  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .skill {
    width: 70%;
    height: 30%;
  }
  #skills {
    display: block;
    margin: 12px;
  }
  table {
    width: 250px;
    text-align: center;
  }
  #learning-journey {
    display: block;
    margin: 16px;
  }
  .footer .logo img {
    margin-left: 0.7em;
    text-align: right;
  }
}
